/*FONTS*/
@font-face {
  font-family: "belbo-book";
  src: url("https://static1.squarespace.com/static/5a3bd838ace8645deb9d9a27/t/5b5883328a922db35d4ca150/1532527410734/Belbo-Book.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "belbo-semi";
  src: url("https://static1.squarespace.com/static/5a3bd838ace8645deb9d9a27/t/5b5883711ae6cf819e7b2950/1532527473553/Belbo-SemiBold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "tiempos";
  src: url("https://static1.squarespace.com/static/5a3bd838ace8645deb9d9a27/t/5a3d1e84085229a887ea12bf/1513954948390/TiemposHeadline-Black.otf");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "belbo-book" !important;
}

p,
h1,
h2,
h3 {
  -webkit-hyphens: manual !important;
  -moz-hyphens: manual !important;
  -ms-hyphens: manual !important;
  hyphens: manual !important;
}

hr {
  display: none !important;
}

h1 {
  font-family: "tiempos" !important;
  font-size: 30pt !important;
}

h2,
h3 {
  font-family: "belbo-semi" !important;
}

h4 {
  font-family: "belbo-bold" !important;
}

body,
p {
  font-family: "belbo-book" !important;
}

b,
strong {
  font-weight: 900 !important;
  font-family: "belbo-semi" !important;
}

.headline-container {
  background-color: #e8f5f0;
  border-radius: 4px;
  padding: 32px 32px 32px 32px;
  height: 166px;
}

.rangeslider {
  background: #f5f5f5;
  border: 1px solid #9dc4c7;
  box-shadow: none;
  border-radius: 24px;
}
.rangeslider__fill {
  background: #01282b !important;
}

.header-image::after {
  background-color: #000;
}
.left-column-result {
  width: 80%;
  display: inline-block;
  font-size: 16px;
  color: #666;
  padding: 0px 10px;
  line-height: 35px;
}
.rigth-column-result {
  width: 19%;
  display: inline-block;
  font-size: 22px;
  color: black;
  text-align: right;
  line-height: 35px;
}
/*.result-row {
        }*/
.first-bolder {
  margin: 32px 0 16px 0;
  font-size: 64px;
  line-height: 92px;
  text-align: center;
  color: #04494f;
  font-weight: bolder;
  font-family: "belbo-bold" !important;
}

.first-bolder span {
  /*border-bottom: 2px solid #B0DDCB;*/
  box-shadow: 0 -28px 0 #b0ddcb inset;
}

.head-results {
  font-size: 26px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  background-color: #3fa578;
  color: transparent00;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-shadow: 1px 1px 3px #272727;
}

#right-side {
  padding: 0;
  top: 91px;
  position: relative;
  margin: 0;
}

#left-side {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 999;
}

#results {
  font-family: "belbo-book", Arial, sans-serif;
  background-color: transparent00;
  width: 100%;
  /*box-shadow: 1px 1px 10px #757575;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;*/
  display: block;
}

#results h2 {
  color: #01282b;
}
.unit {
  margin-left: 10px;
  margin-right: -20px;
  padding-right: 20px;
  font-family: "belbo-book", Arial, sans-serif;
}
.white {
  color: transparent;
}
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2")
      format("woff2"),
    url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff")
      format("woff"),
    url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf")
      format("truetype"),
    url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular")
      format("svg");
}

.wrapper-cont {
  margin: 0px auto;
  max-width: 1300px;
  padding: 10px 20px 64px 20px;
  background-color: solid transparent;
  opacity: 0.95;
  position: relative;

  box-shadow: 0px 4px 45px 20px rgba(25, 29, 31, 0.05);
}
.rangeslider__handle {
  box-shadow: none;
  border: 1px solid #a9bcbe;
  background-image: none;
  background-color: #fafafa;
  box-shadow: 0px 4px 24px rgba(1, 40, 43, 0.1);
}
.rangeslider__handle:after {
  background-color: #e8f5f0;
  background-image: none;
}
.rangeslider__handle:active {
  background-image: none;
  background-color: #fafafa;
  box-shadow: 0px 2px 16px rgba(1, 40, 43, 0.2);
  width: 38px;
  height: 38px;
  top: -9px;
  margin: 0 auto;
}
.sliders {
  border-radius: 10px;
  opacity: 0.98;
  text-align: center;
  height: 100%;
  font-family: "belbo-book", helvetica, sans-serif;
  padding-right: 0px;
  padding-left: 5%;
  margin: auto;
  width: 95%;
  display: block;
}
.header-container {
  height: 32px;
  border-radius: 4px;
  width: 100%;
  display: block;
}
.header-container h6 {
  color: #01282b !important;
  font-size: 16px;
  line-height: 18px;
  font-weight: 200;
}

.headline-container h2 {
  font-size: 30px;
  text-align: center;
  margin: auto;
  display: block;
}

.title {
  padding: 16px 0 16px;
  border-bottom: 1px solid #c7d7d9;
  position: relative;
}

.title .small {
  font-weight: 200;
  font-size: 14px;
}

.title__toggle {
  position: absolute;
  top: 5px;
  font-size: 12px;
}
.title__toggle:first-of-type {
  left: 0;
}
.title__toggle:last-of-type {
  right: 0;
}
.title h2 {
  font-size: 18px;
  color: #3a5b5e;
  padding: 0 60px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.meeting-box {
  border-radius: 4px;
  border: 1px solid #a9bcbe;
  background: transparent;
  margin: 14px auto 0px;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 24px rgba(1, 40, 43, 0.1);
}

.meeting-box:hover .bottom__toggle,
.meeting-box:focus .bottom__toggle {
  opacity: 1;
}
.meeting-box__top {
  padding: 0px 0 0px 0;
  width: 100%;
}
.meeting-box__slider {
  padding: 10px 16px 0px 24px;
  width: 100%;
}
.meeting-box__bottom {
  height: 122px;
  border-radius: 0 0 5px 5px;
  padding: 0 0 0px 0;
}
.meeting-box__section {
  width: 120px;
  padding: 0 10px;
  text-align: center;
  height: 100%;
  font-size: 15px;
}

.meeting-box__count {
  clear: both;
  display: inline-block;
  line-height: 44px;
  font-size: 32px;
  color: #01282b;
}

.rate {
  font-family: "belbo-semi" !important;
}

.btn-control {
  -webkit-appearance: none;
  border: none;
  width: 50%;
  display: inline-block;
  color: #25b686;
  font-size: 32px;
  background: none;
  outline: 0;
}
.btn-control--reset {
  font-size: 14px;
  color: #cdcdcd;
}

.overview h4 {
  text-align: center;
  font-size: 22px;
  color: #01282b;
  font-family: "belbo-book" !important;
  font-weight: 300;
}

.overview span {
  text-align: center;
  font-size: 22px;
  color: #04494f;
  font-family: "belbo-bold" !important;
}

.output {
  margin: 50px auto 30px;
  width: 180px;
  line-height: 32px;
  font-size: 64px;
  list-height: 1.2;
  font-family: futura, sans-serif;
  font-weight: 900;
  border-radius: 3px;
  text-align: center;
}

input[type="range"] {
  -webkit-appearance: none;
  visibility: hidden;
  height: 0;
  width: 100%;
  margin: 0;
  display: block;
}

.bottom__toggle {
  display: block;
  margin: 5px auto;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 4px;
  padding: 0px;
  opacity: 0.15;
  cursor: pointer;
  transition: opacity 0.25s ease;
}
.bottom__toggle--up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.bottom__toggle--down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid transparent;
}
.box-100 {
  width: 100% !important;
}
.box-50 {
  width: 49%;
  display: inline-block;
}
#order-week .rangeslider__fill {
  background: #01282b !important;
}
#food-cost .rangeslider__fill {
  background: #01282b !important;
}

#hours-ordering .rangeslider__fill {
  background: #01282b !important;
}
.first-div-result-row {
  font-weight: bold;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font: normal normal 16px/1 "Glyphicons Halflings";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 4px;
}
.glyphicon-fire:before {
  content: "\e104";
}

.glyphicon-ok:before {
  content: "\e013";
  color: #04494f;
}
.val-label {
  font-weight: bold;
  color: #04494f;
  box-shadow: 0 -7px 0 #b0ddcb inset;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.result-row-list {
  line-height: 33px;
  font-size: 16px;
  margin-left: 36px;
}
.rangeslider--horizontal {
  margin-bottom: 15px !important;
}

.result-wrapper {
  top: 10px;
}

label {
  display: block;
  position: relative;
  padding: 9px 0 0px 45px;
  order: 4;
  /*cursor: pointer;*/
  -webkit-animation: undone 0.5s;
  animation: undone 0.5s;
  line-height: 30px;
}
label::before {
  content: "\e013";
  color: #04494f;
  display: block;
  position: absolute;
  top: 16px;
  left: 21px;
  font: normal normal 16px/1 "Glyphicons Halflings";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 4px;
}
#label-last label::before {
  top: 23px !important;
  left: 22px !important;
}
#label-last {
  margin-top: 40px;
}

/* In Betweens */
@media only screen and (max-width: 1159px) and (min-width: 940px) {
  .first-bolder {
    margin: 32px 0 16px 0;
    font-size: 3.2rem;
    line-height: 92px;
    text-align: center;
    color: #04494f;
    font-weight: bolder;
    font-family: "belbo-bold" !important;
  }

  .first-bolder span {
    /* border-bottom: 2px solid #B0DDCB; */
    box-shadow: 0 -22px 0 #b0ddcb inset;
  }

  .headline-container {
    padding: 32px 16px;
  }
}

@media only screen and (max-width: 939px) and (min-width: 768px) {
  .first-bolder {
    margin: 44px 0 16px 0;
    font-size: 2.5rem;
    line-height: 92px;
    text-align: center;
    color: #04494f;
    font-weight: bolder;
    font-family: "belbo-bold" !important;
  }

  .overview h4 {
    font-size: 20px;
  }

  label {
    line-height: 25px;
  }

  label p {
    font-size: 17px;
  }

  .headline-container h2 {
    font-size: 24px !important;
  }

  .first-bolder span {
    /* border-bottom: 2px solid #B0DDCB; */
    box-shadow: 0 -18px 0 #b0ddcb inset;
  }

  .headline-container {
    padding: 32px 8px;
  }

  .header-container h6 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 550px) {
  .first-bolder {
    margin: 28px 0 16px 0;
    font-size: 35px;
    line-height: 92px;
    text-align: center;
    color: #04494f;
    font-weight: bolder;
    font-family: "belbo-bold" !important;
  }

  .overview h4 {
    font-size: 20px;
    margin: 10px 0px !important;
  }

  label {
    line-height: 25px;
    padding: 9px 8px 0px 45px;
    margin-left: -12px;
  }

  label p {
    font-size: 17px;
  }

  #label-last {
    margin-top: 28px;
  }

  .headline-container h2 {
    font-size: 28px !important;
  }

  .first-bolder span {
    /* border-bottom: 2px solid #B0DDCB; */
    box-shadow: 0 -18px 0 #b0ddcb inset;
  }

  .headline-container {
    padding: 24px 8px 0 8px;
  }

  .header-container h6 {
    font-size: 14px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 280px) {
  .result-wrapper {
    width: 100%;
    display: block;
  }
  .slider-wrapper {
    width: 100%;
    display: block;
  }
  .sliders {
    padding-right: 2%;
    padding-left: 2%;
    width: 96%;
  }
  .meeting-box {
    display: block;
    width: 100%;
  }
  .last-label {
    display: none;
  }
  #results {
    width: 90%;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 56px;
    margin-bottom: 40px;
  }
  #hourly-wage .meeting-box__top {
    width: 100%;
  }
  #hourly-wage .meeting-box__bottom {
    width: 12%;
  }
  #food-cost .meeting-box__top {
    width: 100%;
  }
  #food-cost .meeting-box__bottom {
    width: 12%;
  }
  #order-week .meeting-box__top {
    width: 100%;
  }
  #order-week .meeting-box__bottom {
    width: 12%;
  }
  #hours-ordering .meeting-box__top {
    width: 100%;
  }
  #hours-ordering .meeting-box__bottom {
    width: 9%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .result-wrapper {
    width: 49%;
    display: table-cell;
  }
  .slider-wrapper {
    width: 49%;
    display: table-cell;
  }
  .sliders {
    padding-right: 2%;
    padding-left: 2%;
    width: 96%;
  }
  .meeting-box {
    display: inline-block;
    width: 49%;
  }
  .last-label {
    vertical-align: top;
    margin-top: 6px;
    display: inline-block;
  }
  #results {
    width: 80%;
    padding-top: 0px;
    padding-left: 10%;
  }
  #hourly-wage .meeting-box__top {
    width: 100%;
  }
  #hourly-wage .meeting-box__bottom {
    width: 10%;
  }
  #food-cost .meeting-box__top {
    width: 100%;
  }
  #food-cost .meeting-box__bottom {
    width: 19%;
  }
  #order-week .meeting-box__top {
    width: 100%;
  }
  #order-week .meeting-box__bottom {
    width: 12%;
  }
  #hours-ordering .meeting-box__top {
    width: 100%;
  }
  #hours-ordering .meeting-box__bottom {
    width: 10%;
  }
}
